.footer-container{
  --footer-bg-color: #FFF
  --footer-font-color: #000
}

.footer-container{
  margin-top: 50vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--footer-font-color);
  background-color: var(--footer-bg-color);
  flex-direction: row;
}

.footer-container *{
  margin: 0 5px;
}

.footer-container a{
  color: var(--footer-font-color);
  text-decoration: none;
}

