.header-container{
  --header-font-color: #FFF;
  --background-color: #000;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: min(10vh, 10vw, 100px);
  padding: 0 10px;
  color: var(--header-font-color);
  font-family: Arial, Helvetica, sans-serif;
}

.header-container svg{
  height: min(5vh, 5vw);
  width: min(5vh, 5vw);
}

.header-container .about-button{
  border-radius: 5px;
  background-color: var(--header-font-color);
  color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  font-size: min(3.5vh, 3.5vw);
  height: min(5vh, 5vw);
  width: min-content;
  padding: 0 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .about-button:hover{
  transform: scale(1.02, 1.02);
  cursor: pointer;
}

.blur {
  filter: blur(5px);
}

.in-active{
  pointer-events: none;
}